#open{
  width:100px;
  background-color:skyblue;
  text-align:center;
  padding:4px 8px;
}

#open:hover{
  opacity:0.5;
  cursor:pointer;
}



.main > p:not(:last-child){
  border-bottom:1px dashed silver;
}
.main > p:first-child{
  background-color:purple;
}

h1, h2, p {
  border:1px solid blue;
}

img {
  float:right;
}

h2{
  clear:right;
}